{%extends "base.html"%}
{% block content%}
<div class="jumbotron" style="text-align: center">
    <h1 style="color:red; text-align: center;padding:30px; font-weight: bolder; font-family: 'Times New Roman', Times, serif; font-size: 600%;"> Did a puppy got adopted: </h1>
    <p> If so: Please delete----------</p>
    <form method="POST" style="text-align: center">
        <br>
        <br>
        {{form.hidden_tag()}}
        <br>
        <br>
        {{form.id.label}}   {{form.id}}<br><br>
        {{form.submit()}}
        <br>
    </form>

</div>
{%endblock%}